<?xml version="1.0"?>
<config>
  <modules>
    <I_ReferAndEarn>
      <version>3.0.0</version>
    </I_ReferAndEarn>
  </modules>
  <frontend>
    <routers>
      <referandearn>
        <use>standard</use>
          <args>
            <module>I_ReferAndEarn</module>
            <frontName>referandearn</frontName>
          </args>
      </referandearn>
    </routers>
		<layout>
		  <updates>
			<referandearn>
			  <file>referandearn.xml</file>
			</referandearn>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <referandearn>
        <class>I_ReferAndEarn_Helper</class>
      </referandearn>
    </helpers>
	<blocks>
	  <referandearn>
		<class>I_ReferAndEarn_Block</class>
	  </referandearn>
	</blocks>
	<models>
	  <referandearn>
		<class>I_ReferAndEarn_Model</class>
		<resourceModel>referandearn_mysql4</resourceModel>
	  </referandearn>
	  <referandearn_mysql4>
		<class>I_ReferAndEarn_Model_Mysql4</class>
		<entities>		  
			  <referandearn>
				<table>inst_referearn</table>
			  </referandearn>
		</entities>
	  </referandearn_mysql4>
	</models>
	<resources>
	  <referandearn_setup>
		<setup>
		  <module>I_ReferAndEarn</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </referandearn_setup>
	  <referandearn_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </referandearn_write>
	  <referandearn_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </referandearn_read>
	</resources>
  </global>
</config> 